snippet rnscreen "[react-native] screen" i
import * as React from 'react'
import { View, Text } from 'react-native'

const ${1:}Screen = () => {
  return (
    <View>
		  <Text>
			  $1 Screen
		  </Text>
    </View>
  )
}

export default $1Screen
endsnippet
