# ==============================================================================
# fmt.Println
# ==============================================================================
snippet cl "[divramod] print()"
print("${1}")
endsnippet

snippet cll "[divramod] print(f'1: 1')"
print(f"${1}: {$1}")
endsnippet

snippet clh "[divramod] _helper_log(f'1: 1')"
_helper_log(f"${1}: {$1}")
endsnippet

snippet clhh "[divramod] _helper_log()"
_helper_log("${1}")
endsnippet
